.App {
  text-align: center;
  /* width: 80vw; */
  color: #3a3c3e;
  position: relative;
  margin: 0;
  /* border: 1px solid red; */
}

.location-and-daily-forecast {
  /* border: 1px solid green; */
  background-image: url("../../public/bi.jpg");
}
