.chart {
  /* border: 1px solid blue; */
  background-color: #f6f6f6;
  display: flex;
  height: auto;
  margin-top: 50px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  max-width: 1280px;
  margin: 0 auto;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* padding: 0 1rem; */
}

.weatherByHour {
  display: flex;
  /* border: 1px solid green; */
  min-height: 348px;
  background-color: white;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.weatherByHour:hover {
  cursor: pointer;
  box-shadow: inset 0 3px 0 #eb5038;
}

.weatherByHourSummary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #d5d5d5;
  width: 4rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid red; */
}

/* Active weatherByHour styling when selected */
.weatherByHourSummary--expanded {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: none;
  width: 4rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  box-shadow: inset 0 3px 0 #eb5038;
}

.weatherByHourTempPrecipAndWind {
  /* border: 1px solid yellow; */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  margin-bottom: 0.5rem;
}

.weatherByHourPrecipAndWind {
  /* border: 1px solid green; */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.weatherByHourPrecipitationContainer {
  display: flex;
  flex-direction: column;
  height: 45px;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid red; */
}
.weatherByHourPrecipitationIcon {
  display: flex;
  flex-direction: column;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid blue; */
}

.weatherByHourPrecipitationText {
  display: flex;
  font-size: 12px;
  justify-content: center;
  align-items: flex-start;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid red; */
}

.weatherByHourWindContainer {
  display: flex;
  height: 36px;
  margin-top: 0.6rem;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid blue; */
}

.weatherByHourWindIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 12px;
  border-radius: 50%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  border: 2px solid #141414;
}

/* Details panel content styling */

.weatherByHourDetails {
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: space-between;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid blue; */
  background-color: #f6f6f6;
  width: 0rem;
  padding: 0rem;
  border: none;
  -webkit-transition: width, 0.4s linear;
  -moz-transition: width, 0.4s linear;
  -ms-transition: width, 0.4s linear;
  -o-transition: width, 0.4s linear;
  transition: width, 0.4s linear;
}

.weatherByHourDetails--expanded {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid blue; */
  background-color: #f6f6f6;
  width: 16.5rem;
  border-right: 1px solid #d5d5d5;
  -webkit-transition: width, 0.4s linear;
  -moz-transition: width, 0.4s linear;
  -ms-transition: width, 0.4s linear;
  -o-transition: width, 0.4s linear;
  transition: width, 0.4s linear;
  /* box-shadow: inset 0 3px 0 #eb5038; */
}

.weatherDetailsCondition {
  color: #141414;
  margin-top: 0.5rem;
  display: block;
  height: 6rem;
  white-space: normal;
  min-width: 14rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  text-wrap: no-wrap;
  word-wrap: no-wrap;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid blue; */
}

.weatherDetailsConditionText {
  color: #333;
  font-weight: 500;
  color: #141414;
  /* padding-top: 0.1875rem; */
  display: block;
  text-wrap: no-wrap;
  white-space: normal;
  text-align: start;
}

.weatherDetailsRows__general {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  height: fit-content;
  min-width: 14rem;
  text-wrap: no-wrap;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid red; */
  margin-bottom: 1.5rem;
}

.weatherDetailsRows__all {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding-bottom: 0.3rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  min-width: 14rem;
  text-wrap: no-wrap;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid blue; */
}

.weatherDetailsRow {
  display: flex;
  justify-content: flex-start;
  font-size: 0.85rem;
  padding: 0.25rem;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid green; */
}

.weatherDetailsRow__temp {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.85rem;
  height: 2.5rem;
  min-width: 14rem;
  text-wrap: no-wrap;
  border-top: 1px solid #b0b2b4;
  border-bottom: 1px solid #b0b2b4;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid green; */
}

.weatherDetailsRow__precip {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.85rem;
  height: 2.5rem;
  min-width: 14rem;
  text-wrap: no-wrap;
  text-align: start;
  word-wrap: no-wrap;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  border-bottom: 1px solid #b0b2b4;
  /* border: 1px solid blue; */
}
.weatherDetailsRow__wind {
  display: flex;
  justify-content: flex-start;
  white-space: normal;
  text-align: start;
  align-items: center;
  font-size: 0.85rem;
  height: 2.5rem;
  min-width: 14rem;
  text-wrap: no-wrap;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid red; */
}

.detailLabel {
  /* border: 1px solid red; */
  margin-right: 1rem;
}

.detailValue {
  font-weight: bold;
  /* border: 1px solid red; */
  font-size: 14px;
  color: #141414;
}

.weatherByHourTime {
  /* border: 1px solid red; */
  color: #141414;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.weatherByHourTimeZero {
  font-weight: normal;
  color: #545658;
}

.weatherByHourTempContainer {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid red; */
}

.weatherByHourIcon {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid green; */
  /* width: 75px; */
  /* margin-top: 50px; */
}

.weatherByHourTemp {
  display: flex;
  justify-content: center;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* border: 1px solid blue; */
  font-weight: 600;
  /* margin-top: 50px; */
}

.seeMoreWeatherBefore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 200px;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  border-right: 1px solid #d5d5d5;
  /* border: 1px solid red; */
  background-color: #f6f6f6;
}

.seeMoreWeatherBefore .date {
  font-weight: bold;
}

.seeMoreWeatherBefore:hover .date {
  text-decoration: underline;
  color: #067eb3;
}

.seeMoreWeatherAfter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 200px;
  min-width: 200px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  cursor: pointer;
  /* border: 1px solid red; */
  background-color: #f6f6f6;
}

.seeMoreWeatherAfter .date {
  font-weight: bold;
}

.seeMoreWeatherAfter:hover .date {
  text-decoration: underline;
  color: #067eb3;
}
@media (max-width: 700px) {
  .chart {
    padding: 0rem;
  }
  .weatherByHourTimeZero {
    /* border: 1px solid red; */
  }
}
