.weatherByHour {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid #d5d5d5;
  width: 4rem;
  padding: 0rem 0.3rem;
  /* border: 1px solid red; */
  margin-top: 0.4rem;
}

.weatherByHour:hover {
  cursor: pointer;
  box-shadow: 0 -3px 0 #eb5038;
}

.weatherByHourTime {
  /* border: 1px solid red; */
  font-weight: 500;
  margin-top: 1rem;
}

.weatherByHourTimeZero {
  font-weight: normal;
  font-size: 0.875rem;
  color: #666;
}

.weatherByHourTempContainer {
  /* border: 1px solid red; */
}

.weatherByHourIcon {
  /* border: 1px solid green; */
  /* width: 75px; */
  /* margin-top: 50px; */
}

.weatherByHourTemp {
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
  font-weight: 600;
  /* margin-top: 50px; */
}

.chart {
  /* border: 1px solid blue; */
  display: flex;
  height: 400px;
  margin-top: 50px;
  overflow-x: auto;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0 1rem; */
}
