.maps-container {
  margin-top: 2rem;
  /* border: 1px solid red; */
}

/* Target the inner content of the info window */
.gm-style .gm-style-iw-c {
  padding: 0 !important;
  border-radius: 0 !important;
}

/* Target the inner container of the info window */
.gm-style .gm-style-iw-d {
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 0 !important;
}

/* Remove the default shadow and border */
.gm-style .gm-style-iw-c {
  box-shadow: none !important;
  border: none !important;
}

.gm-style-iw-chr {
  display: none;
}

.gm-style-iw-tc::after {
  display: none;
}

.info-window {
  display: flex;
  height: 28px;
  padding: 0 !important;
  /* border: 1px solid red; */
  margin: 0;
}

.info-window-location {
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
}

.info-window-temp {
  display: flex;
  align-items: center;
  /* border: 1px solid green; */
}

.info-window-location,
.info-window-temp {
  padding: 8px;
  text-align: center;
  font-weight: 400;
  font-size: 15px;
}
