.menu-bar-container {
  /* border: 1px solid blue */
  padding: 0rem 1rem;
}
.menu-bar {
  /* width: 100%; */
  max-width: 1280px;
  margin: 0 auto;
  height: 3.8rem;
  color: #202224;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  /* border: 1px solid red; */
}

.center-mobile-logo {
  display: none;
}

.mobile-sign-in {
  display: none;
}

.hamburger-menu-container {
  display: none;
  cursor: pointer;
}

.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #333;
}

.hamburger-menu:hover {
  color: #067eb3;
}

.menu-bar-left {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
}
.menu-bar-right {
  /* border: 1px solid blue; */
  display: flex;
  font-size: 14px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1.2rem;
  /* border: 1px solid blue; */
}

.logo span {
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.logo-w {
  display: inline-flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: white;
  background-color: black;
  margin-right: 0.5rem;
  font-size: 6rem;
  font-weight: 700;
}

.logo-s {
  /* border: 1px solid blue; */
  display: inline-flex;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  color: white;
  background-color: black;
  font-size: 3rem;
  font-weight: 700;
}

.sign-in {
  display: flex;
  align-items: center;
  cursor: pointer;
  /* border: 1px solid red; */
  font-weight: 600;
  padding-bottom: 0.1rem;
}

.sign-in:hover {
  /* box-shadow: 0 2px 0 #067eb3; */
}
.user-icon {
  margin-right: 0.5rem;
  color: #0071f1;
}
.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  margin: 0;
  padding: 0;
  margin-right: 1.5rem;
}
.main-nav ul li:last-child {
  margin-right: 0;
}

.main-nav ul li span {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s;
  /* border: 1px solid red; */
  font-size: 14px;
  cursor: pointer;
}

.main-nav ul li a:hover {
  /* color: #149edc; */
  /* box-shadow: 0 2px 0 #067eb3; */
}

.social-icons {
  display: none;
  margin-right: 1.5rem;
  /* border: 1px solid red; */
}

.social-icons a {
  color: #555;
  margin-left: 1rem;
  font-size: 1.1rem;
  transition: color 0.2s;
}

.social-icons a:hover {
  color: #149edc;
}

/* Mobile menu container - hidden by default */
.mobile-menu {
  display: none;
  position: absolute;
  top: 3.8rem;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 1rem;
  flex-direction: column;
  transition: transform 0.3s ease;
}

/* Media queries for responsiveness */
@media (max-width: 900px) {
  .menu-bar-container {
    padding: 0rem 0.5rem;
    /* border: 1px solid red; */
  }
  .menu-bar {
    position: relative; /* For absolute positioned mobile menu */
    /* border: 1px solid blue; */
    padding: 0 0.5rem;
  }

  /* Rearrange menu bar items */
  .menu-bar-left {
    width: auto;
    border: none;
    /* border: 1px solid green; */
  }

  .logo {
    margin: 0;
  }

  .logo-w {
    /* border: 1px solid red; */
    width: 32px;
    height: 32px;
  }

  .logo-s {
    /* border: 1px solid blue; */
    width: 32px;
    height: 32px;
  }

  .menu-bar-right {
    width: auto;
    margin-right: 0;
  }

  /* Show only sign-in on the left */
  .menu-bar-left .logo {
    display: none; /* Hide logo in left section */
  }

  .menu-bar-left .sign-in {
    display: none; /* Show sign-in button */
  }

  .menu-bar-left .mobile-sign-in {
    display: flex; /* Show sign-in button */
  }

  .menu-bar-left .user-icon {
    /* border: 1px solid blue; */
    width: 32px;
    height: 32px;
  }

  /* Add center logo */
  .center-mobile-logo {
    display: flex;
    /* border: 1px solid red; */
  }

  /* Hide desktop navigation and show hamburger */
  .menu-bar-right .main-nav,
  .menu-bar-right .social-icons,
  .menu-bar-right .dark-mode-toggle {
    display: none;
  }

  .hamburger-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    /* border: 1px solid blue; */
  }

  .hamburger-icon {
    width: 24px;
    height: 24px;
    color: black;
  }

  .hamburger-icon:hover {
    color: black;
  }

  .mobile-menu {
    display: flex;
    visibility: hidden;
    height: 0px;
    padding: 0rem;
    border: none;
    /* -webkit-transition: height, 0.3s linear;
    -moz-transition: height, 0.3s linear;
    -ms-transition: height, 0.3s linear;
    -o-transition: height, 0.3s linear;
    transition: height, 0.3s linear; */
  }

  .mobile-menu--active {
    display: flex;
    padding-top: 2rem;
    border-top: 1px solid #d5d5d5;
    /* border: 1px solid green; */
    height: 360px;
    z-index: -100;
    -webkit-transition: height, 0.3s linear;
    -moz-transition: height, 0.3s linear;
    -ms-transition: height, 0.3s linear;
    -o-transition: height, 0.3s linear;
    transition: height, 0.3s linear;
  }

  .mobile-menu-nav {
    width: 85%;
    /* border: 1px solid blue; */
  }

  .mobile-menu-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    /* margin-bottom: 1.5rem; */
  }

  .mobile-menu-nav ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 40px;
    margin-left: 1.5rem;
    padding: 8px 0;
    font-weight: 700;
    border-bottom: 1px solid #e6e8ea;
    /* border: 1px solid blue; */
  }

  .mobile-menu--active .mobile-menu-nav ul li a {
    color: #000000;
    text-decoration: none;
    /* font-weight: 500; */
  }

  .mobile-connect {
    /* border: 1px solid red; */
    display: flex;
    font-weight: 700;
    justify-content: flex-start;
    color: #000;
    margin-left: 1.5rem;
    margin-right: 40px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .mobile-social-icons {
    /* border: 1px solid red; */
    font-size: 14px;
  }

  .mobile-social-icons a{
   text-decoration: none;
  }
  .mobile-social-icon {
    display: flex;
    color: #000;
    font-weight: 700;
    justify-content: space-between;
    padding: 8px 0;
    margin: 0px 40px;
    margin-left: 1.5rem;
    border-bottom: 1px solid #e6e8ea;
    /* border: 1px solid green; */
  }
  .social-icon-logo {
    margin-right: 3.2px;
    font-weight: 700;
    color: #000;
  }

  .social-icon-logo a {
    color: #000;
  }

  .mobile-menu-close {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50px;
    height: fit-content;
    /* border: 1px solid blue; */
  }

  .mobile-menu-close:hover {
    color: black;
  }
}
