.sun {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1280px;
  margin: 0.5rem auto;
  padding: 0rem 1rem;
  /* border: 1px solid red; */
}

.sunrise {
  margin-right: 0.5rem;
}
.sunset {
  margin-left: 0.5rem;
}

@media screen and (max-width: 700px) {
  .sun {
    /* border: 1px solid red; */
    justify-content: flex-start;
  }
}
